
<% if !current_user %>
<h1>Welcome to the Helpjuice, Login to view and search Posts </h1>
<%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
<br><br>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
<% else %>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<h1>Welcome to the Helpjuice, Search Post </h1>
<% end %>


